Script.cpython-35m-darwin.so
__pycache__
aozora_text/*.txt
aozora_text2/*.txt
aozora_text3/*.txt
aozora_text3/files/*
nn/model/*
nn/wait/*
dictionaly/
.DS_Store
cython_package/build/
cython_package/cython_package.cpython-35m-darwin.so
!.gitkeep
